/*UNIVERSAL*/

*{
    font-family: 'Roboto Condensed', sans-serif;
}

body{
    background-color: lightblue;
}

.container{
    margin: 40px auto;
    width: 500px;
}

/*HEADER STYLES*/

header{
    margin: 0.6250em auto;
    width: 450px;
}

header h1{
    font-weight: bold;
    font-size: 60px;
    border-bottom: 1px solid black;
}

/*Search bar and button styles*/

.form{
    display: flex;
    flex-direction: row;
}

.search-button img{
    width: 20px;
    height: 20px;
}

.search-bar{
    width: 100%;
    padding: 10px 35px 10px 35px;
    border: none;
    border-radius: 100px;
    background-color: #F0F0F0;
}

.search-button{
    background: transparent;
    border: none;
    outline: none;
    margin-left: -40px;
}

/*Card Styles*/

.card{
    margin: 100px auto;
}

.card-title{
    text-align: center;
    font-weight: bold;
}


