/*UNIVERSAL*/

*{
    font-family: 'Montserrat', sans-serif;
    box-sizing: border-box;
}

body{
    margin: 0;
    padding: 0;
}

/*HEADER STYLES*/
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 10%;
}

ul{
    margin: 0;
    padding: 0;
}

.nav_links li{
    display: inline;

}

.nav_links{
    color: white;
    flex: 1;
    max-width: 20%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.nav_links li:hover{
    border-bottom: 2px solid #75E6DA;
    color: #75E6DA;
    cursor: pointer;
}

header h3{
    text-transform: uppercase;
    font-weight: bold;
    text-decoration: underline;
    color: white;
}

button{
    margin-left: 50px;
    background: none;
    border: 4px solid white;
    padding: 5px 25px;
    color: white;
    text-transform: uppercase;
    border-radius: 5%;
    transition: border 0.5s ease, color 0.5s ease;
}

button:hover{
    font-weight: 500;
    transform: scale(1.1);
    border: 4px solid #75E6DA;
    color: #75E6DA;
    cursor: pointer;
}

/*Card Styles*/

.container{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50vh;
}
.card{
    border-radius: 10px;
}

.card-title{
    text-align: center;
    font-weight: bold;
    font-size: 30px;
}

/*Media Queries*/

@media screen and (max-width: 992px){
    nav, .nav_links{
        flex-direction: column;
        align-items: center;
    }

    .nav_links li{
        padding: 10px 0;
    }

    button{
        margin: 0;
    }
}


